body {
  background: black;
  color:white;
  font-family: sans-serif;
}

a {
  color: lightgreen;
}

h1 {
  font-size: 4em;
}

.flex {
  display:flex;
}

.column {
  flex-flow: column wrap;
}
.row {
  flex-flow: row wrap;
}

header, section {
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 8px;
}

body ~ header {
  flex-basis: 60%;
}

